<div class="row">
    <div class="col col-3 mt-3">
        <div *ngFor="let student of students">
            <div [ngSwitch]="student.directive">
                <div *ngSwitchCase="'ngclass'">
                    <p [ngClass]="student.status ? 'good' : 'evil'">Alumno:
                        {{ student.name }} {{ student.lastname }}</p>
                </div>
                <div *ngSwitchCase="'ngstyle'">
                    <p [style.border]="student.status ? '2px solid blue' : '2px dotted orange'">Alumno:
                        {{ student.name }} {{ student.lastname }}</p>
                </div>
                <div *ngSwitchCase="'custom-directive'">
                    <p *ngIf="student.status" appCustomDirective [colorChange]="'violet'">Alumno:
                        {{ student.name }} {{ student.lastname }}</p>
                    <p *ngIf="!student.status" appCustomDirective [colorChange]="'brown'">Alumno:
                        {{ student.name }} {{ student.lastname }}</p>
                </div>
                <div *ngSwitchCase="'pipes'">
                    <p>Alumno:
                        {{ student.status ? (student.name | uppercase) : (student.name | lowercase) }} {{ student.status ?
                        (student.lastname | uppercase) : (student.lastname | lowercase)
                        }}</p>
                </div>
                <div *ngSwitchCase="'ngif'">
                    <p *ngIf="student.status" style="text-decoration: underline;">Alumno:
                        {{ student.name }} {{ student.lastname }}</p>
                </div>
            </div>
                
        </div>
        <button class="mt-3" (click)="mixStyles()">Cambiar</button>
    </div>
</div>